


.striked{
  text-decoration: line-through;
  
}
.btn{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 0px;
  background-color: white;
  /* border: 1px solid red; */
}
.container{
  height: auto;
  width: 600px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #cecece;
  min-height: 500px;
  padding: 50px;
  box-sizing: border-box;
}

.inp{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 20px;
  /* border: 1px solid green; */
  width: 80%;
}
.inp>input{
  border-radius: 10px;
  border: none;
  width: 85%;
  font-size: 25px;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
 
  
}


.item{
  width: 400px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: scroll;

  
}
.item::-webkit-scrollbar{
  display: none;
}

.item>button{
  background-color: #cecece ;
  height: 40px;
  width: 40px;
}
.check{
height: 30px;
width: 30px;



}
